body, h1, h2, p, img, ul, li, form, button {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contact-form {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

.contact-form h2 {
  margin-top: 0;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.contact-form input,
.contact-form textarea {
  width: 96%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form .preferencia-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.contact-form .preferencia-checkboxes label {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.contact-form .preferencia-checkboxes input[type="radio"] {
  margin-right: 5px;
}

.contact-form button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.logo img {
  width: 150px;
  height: auto;
}
